img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

*{
	font-family: 'GothamBook', Arial, sans-serif;
	font-weight: normal;
}

html, body{
    width: 100%;
    height: 100%;
}

@font-face{
    font-family:'Gotham-Bold';
    src: local('Gothambold1'), url('../fonts/gothambold1.ttf') format('truetype');
}

@font-face{
    font-family:'GothamBook';
    src: local('GothamBook'), url('../fonts/GothamBook.ttf') format('truetype');
}

/*============ VIEW =============*/
.view{
    display: none;
    width: 100%;
    height: 100%;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    animation: fadeIn 300ms ease both;
    -webkit-animation: fadeIn 300ms ease both;
}
.view.active-view{ display: block;}

@keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@-webkit-keyframes fadeIn{
    from{ opacity: 0; }
    to{ opacity: 1; }
}

@keyframes fadeOut{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

@-webkit-keyframes fadeOut{
    from{ opacity: 1; }
    to{ opacity: 0; }
}

/*============ HOME =============*/
#home{
    background-color:#000;
    background-size:100%;
    background-repeat:no-repeat;
}

#home #btn{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    margin:0 auto;
}

#home #btn img{
    width:90%;
    margin:30px auto;
    display:block;
}

#home header{
    height:60px;
    text-align:center;
}

#home header #settings img{
    height:100%;
    padding-top:20px;    
    width: 30%;
}

#wine{
    text-align:center;
    margin:100px auto 0 auto;
    display:block;
}

#wine img{
    width:70%;
}

.btn{
    color:#000;
    background-color:#ffbb02;
    width:30%;
    text-align:center;
    text-transform:uppercase;
    font-family:'Gotham-Bold';
    padding:15px 0;
    font-size:20px;
}

.btns{
    width:100%;
    margin:0 auto;
    text-align:center;
    padding:0 0 20px 0;
}

.btns > div{
    display:inline-block;
    width:30%;
    font-size:14px;
    margin-right:10px;
}

#earn{
    color:#fff;
    box-sizing:border-box;
    position:absolute;
    top:20px;
    right:0;
    text-align:right;
    padding-right:20px;
}

#earn #count{
    float:left;
    text-align:right;
    padding:0 10px 0 0;
    box-sizing:border-box;
}

#earn #sync{
    float:right;
}

/*============ CAMPAIGN =============*/
#campaign{
    height:100%;
    width:100%;
    padding:70px 0 5% 0;
    box-sizing:border-box;
    background-repeat:no-repeat;
    background-position:bottom;
    background-size:90%;
}

#campaign header{
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-color:black;
    height:70px;
}

#campaign header img{
    height:80%;
    margin:5px 0 0 10px; 
}

#logout{
    float:right;
}

#campaign .btn{
    width:auto;
    font-size:20px;
    padding:5px 15px;
    margin:18px 20px 0 0;
    border-radius:3px;
}

.content{
    height:100%;
    width:100%;
    margin:0;
    position:relative;
    box-sizing:border-box;
}

#top{
    height: 210px;
    text-align:center;
    position:absolute;
    width:100%;
    text-align:center;
}

#bottom{
    box-sizing:border-box;
    margin-bottom:10px;
    height:100%;
    width:100%;
    padding:220px 10px 0 10px;
}

#total-wrapper{
    background-image:url('images/circle.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:200px;
    height:100%;
    vertical-align:middle;
    position:relative;
}

#total-wrapper p#totalpoints{
    position:absolute;
    padding:0;
    font-size: 40px;
    text-align:center;
    margin:0 auto;
    width:100%;
    top:81px;
    line-height: 55px;
}

#total-wrapper #user-email{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    text-align:center;
    margin-bottom:0;
}

#bottom h1{
    text-transform:uppercase;
    font-family: 'Gotham-Bold';
    font-size:23px;
    border-bottom:1px solid #000;
    padding:0 0 10px 0;
    margin:0 auto;
    width:80%;
}

.campaign-list{
    margin:10px auto 0 auto;
    width:80%;
    height:95%;
    overflow-x:hidden;
}

.campaign-list ul{
    list-style:none;
    padding:0;
    margin:0;
    overflow-x:auto;
}

.campaign-list li{
    border-radius:10px;
    position:relative;
    padding:25px 10px 30px 90px;
    background-color:#e7e7e7;
    margin-top:10px;
}

.campaign-list ul li div{
    pointer-events:none;
}

.campaign-list li.redeem{
    background-color:#ffbb02;
}

.campaign-list li .points{
    position:absolute;
    top:9px;
    left:0;
    bottom:9px;
    width:80px;
    text-align:center;
    font-size:20px;
    border-right:1px solid #000;
}

.campaign-list li .points div{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}

.campaign-list li .points div::after{
    content:attr(data-label);
    display:block;
    font-size:12px;
}

.campaign-list li .desc{
    text-transform:uppercase;
    font-size:15px;
    color:#000;
    font-family: 'GothamBook';
    font-weight:bold;
}

footer{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    box-sizing:border-box;
    padding:0 10px;
    height:70px;
}

footer img{
    width:100%;
}


/*============ MODAL =============*/
.modal.overlay, .reg-modal.overlay{
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:none;
}

#modal, .reg-modal, .prompt-modal{
    width:60%;
    border:1px solid #000;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    padding:20px 50px;
    text-align:center;
    box-sizing:border-box;
    text-transform:uppercase;
    line-height:1.3;
    color:#000;
    background-color: #fff;
     display:none;
    -webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
    animation-delay: 0s;
    z-index:10;
}

#modal .modal > div{
    display:none; 
}

#modal.choice, 
#modal.warning,
#modal.prompt{
    display:block;
}

#modal.choice #choice, 
#modal.warning #warning,
#modal.prompt #prompt{
    display:block;
}

#pop{
    padding:10px;
    width:80%;
    text-align:center;
    margin:0 auto;
    line-height:1.5;
}

.modal-btn{
    margin:20px 0 0 0;
}

#choice #cancel{
    float:left;
    width:40%;
    margin-left:30px;
}

#choice #ok{
    float:right;
    width:40%;
    margin-right:30px;
}

#warning #ok{
    text-align:center;
    margin:0 auto;
}

.reg-modal input{
    width:100%;
    -webkit-appearance: none;
    display: block;
    height: 40px;
    padding: 8px 6px;
    margin-bottom: 4px;
    border: 0;
    border-bottom: 1px solid #000;
    outline: 0;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
}

::-webkit-input-placeholder{ color: #000; }

.reg-modal .modal, .modal-prompt .modal{
    padding:20px;
    border:0;
}

.reg-modal div{
    width:30%;
}

.reg-modal #cancel{
    float:left;
    margin-left:30px;
}

.reg-modal #register-btn{
    float:right;
    margin-right:30px;
}

.reg-modal .btn{
    padding:10px 0;
    margin:20px 0;
}

 #prompt .active{
    display:block;
    text-align:center;
 }

 #prompt div{
    display:none;
 }

 #prompt .image img{
    width:15%;
    margin-bottom:10px;

 }




